 *{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}


   
 div {
   background-color:rgb(179, 174, 174);
    width: 1000px;
    height: 190px;
    float: left ;
    margin: 30px  0 30px 30px;
    border: 3px solid rgb(22, 1, 1);
 }
 

h1 {
    margin-bottom: 20px;
    margin-top: 3%;
    text-align: center;
   
}
.paragraph {

    margin-left: 20px;
 
}



.section .section-tittle-1 {
    text-align: end;
    border: 3px solid black;
    padding-right: 10%;
    margin-left: 70%;
    position: relative;
    bottom: 17px;
    left: 1px;
    height: 30px;
    background-color:rgb(224, 144, 171) ;
 
    

}


.section .section-tittle-2 {
    text-align: end;
    border: 3px solid black;
    padding-right: 10%;
    margin-left: 70%;
    position: relative;
    bottom: 17px;
    left: 1px;
    color: white;
    height: 30px;
    background-color: rgb(231, 74, 74);

}

.section .section-tittle-3 {
    text-align: end;
    border: 3px solid black;
    padding-right: 10%;
    margin-left: 70%;
    position: relative;
    bottom: 17px;
    left: 1px;
    height: 30px;
    background-color: rgb(219, 215, 162);

}








@media screen and (min-width: 992px) {
        /* Desktop View */
    div {
         
         width: 30%;
        
     }
     
    }    
 
 
    @media screen and (min-width: 768px) and (max-width: 991px) { 
         /* Tablet View */
    div {
       width: 45%;
     }
     div:nth-child(4) {
       width: 93%;
     }
     
   }
 
   @media screen and (max-width: 767px) { 
     /* Mobile View */
    div {
       width: 80%;
     }
 }







    


 

















 
  
 
